[submodule "frameworks/silenttrinity/SILENTTRINITY"]
	path = frameworks/silenttrinity/SILENTTRINITY
	url = https://github.com/byt3bl33d3r/SILENTTRINITY.git
[submodule "frameworks/silenttrinity/OffensiveDLR"]
	path = frameworks/silenttrinity/OffensiveDLR
	url = https://github.com/byt3bl33d3r/OffensiveDLR.git
